<div class="page-container">

  <!-- Barre de navigation -->
  <div class="tabs">
    <div class="tab">
      Équipe Médicale & Accueil
    </div>
    <div class="tab active">
      Gestion des soins & Tarifs
    </div>
    <div class="tab">
      Forfait & Abonnement
    </div>
  </div>

  <!-- Contenu principal -->
  <div class="content">
    <!-- Formulaire ajout tarif -->
    <div class="card tarif-form">

      <h2>Fixez le tarif d’un soin</h2>
      <p>
        Associez un style issu de la nomenclature nationale
        à votre grille tarifaire clinique
      </p>
      
      <label for="prestation">
        Prestation Dentaire
      </label>

      <!-- Ajout du Binding pour le choix du soin -->
      <select id="prestation" name="nomPrestation" [(ngModel)]="nouveauSoin.nom">
        <option value="" disabled selected>
          Choisissez un type de soin
        </option>
        <option value="Consultation dentaire">
          Consultation dentaire
        </option>
        <option value="Consultation dentaire standard">
          Consultation dentaire standard
        </option>
        <option value="Détartrage & polissage">
          Détartrage & polissage
        </option>
        <option value="Blanchissement dentaire professionnel">
          Blanchissement dentaire professionnel
        </option>
        <option value="Pose de couronne céramique">
          Pose de couronne céramique
        </option>
        <option value="Extraction de dent de sagesse">
          Extraction de dent de sagesse
        </option>
      </select>

      <div class="inputs">

        <div>
          <label>
            Tarif Clinique(fcfa)
          </label>
          <!-- Liaison avec nouveauSoin.tarif -->
          <input type="number" name="tarif" [(ngModel)]="nouveauSoin.tarif">
        </div>

        <div>
          <label>
            Durée(minutes)
          </label>
          <!--Liaison avec nouveauSoin.duree -->
          <input type="number" name="duree" [(ngModel)]="nouveauSoin.duree">
        </div>

      </div>

      <!-- L'action au clic -->
      <button (click)="ajouterGrilleTarif()">
        Ajouter à la grille des tarifs
      </button>

      <!-- Gestion des messages de notification -->
      <div class="success-message" *ngIf="messageSucces">
        {{ messageSucces }}
      </div>

      <div class="error-message" *ngIf="messageErreur">
        {{ messageErreur }}
      </div>
    </div>

    <!-- Tableau des tarifs -->
    <div class="card table-card">

      <h2>
        Grille des tarifs de soins en vigueur
      </h2>
      <table>
        <thead>
          <tr>
            <th>
              SOIN DENTAIRE
            </th>
            <th>
              DURÉE ESTIMÉE
            </th>
            <th>
              TARIF ACTUEL
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Consultation dentaire standard
            </td>
            <td>
              30 min
            </td>
            <td class="price">
              5000 Fcfa
            </td>
          </tr>
          <tr>
            <td>
              Détartrage & polissage
            </td>
            <td>
              45 min
            </td>
            <td class="price">
              10 000 Fcfa
            </td>
          </tr>
          <tr>
            <td>
              Blanchissement dentaire professionnel
            </td>
            <td>
              60 min
            </td>
            <td class="price">
              9000 Fcfa
            </td>
          </tr>
          <tr>
            <td>
              Pose de couronne céramique
            </td>
            <td>
              90 min
            </td>
            <td class="price">
              10 000 Fcfa
            </td>
          </tr>
          <tr>
            <td>
              Extraction de dent de sagesse
            </td>
            <td>
              30 min
            </td>
            <td class="price">
              7000 Fcfa
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <span>
      Tooth Office
    </span>
    <span class="copyright">
      ©
    </span>
    <span>
      2026. Tous droit réservé
    </span>
    <span>
      Politique de confidentialité
    </span>
    <span>
      Support dentaire
    </span>
  </footer>
</div>