<div class="confirmation-dialog">

    <div class="dialog-header">

        <div class="icon"
             [class.delete]="isDeleteAction">

            <i class="bi"
               [class.bi-question-lg]="!isDeleteAction"
               [class.bi-trash3-fill]="isDeleteAction">
            </i>

        </div>

        <h2>
            {{ isDeleteAction ? 'Supprimer cet élément ?' : 'Confirmation' }}
        </h2>

    </div>

    <mat-dialog-content>

        <p>{{ data.message }}</p>

        @if(isDeleteAction){
        <small>
            Cette action est irréversible.
        </small>
        }

    </mat-dialog-content>

    <mat-dialog-actions align="center">

        <button
            mat-stroked-button
            (click)="onCancelClick()"
            mat-dialog-close>

            Annuler

        </button>

       <button
            mat-flat-button
            (click)="onConfirmClick()"
            mat-dialog-close
            cdkFocusInitial
            [color]="isDeleteAction ? 'warn' : 'primary'">

            {{ isDeleteAction ? 'Supprimer' : 'Confirmer' }}

</button>

    </mat-dialog-actions>

</div>