<div class="container">

    <div class="header">

        <h2>Utilisateurs enregistrés sur Tooth Office</h2>

        <select [(ngModel)]="roleSelectionne">

            <option value="">Tous les utilisateurs</option>

            <option value="PATIENT">PATIENT</option>

            <option value="DENTISTE">DENTISTE</option>

            <option value="SECRETAIRE">SECRETAIRE</option>

            <option value="CHEF_CABINET">CHEF_CABINET</option>

            <option value="ADMIN_SYSTEM">ADMIN_SYSTEM</option>

        </select>

    </div>

    <table>

        <thead>

            <tr>

                <th>Utilisateur</th>

                <th>Rôle</th>

                <th>Coordonnées</th>

                <th>Détails</th>

                <th>Actions</th>

            </tr>

        </thead>

        <tbody  >

            <tr *ngFor="let u of utilisateursFiltres">

                <td>

                    <strong>{{u.nom}} {{u.prenom}}</strong>

                    <br>

                    <small>{{u.email}}</small>

                </td>

                <td>

                    <span class="badge">

                        {{u.role}}

                    </span>

                </td>

                <td>

                    {{u.telephone}}

                    <br>

                    <small>{{u.adresse}}</small>

                </td>

                <td>

                    <div *ngIf="u.role=='PATIENT'">

                        Né(e) : {{u.dateNaissance}}

                        <br>

                        Assurance : {{u.assurance}}

                    </div>

                    <div *ngIf="u.role=='DENTISTE'">

                        {{u.specialite}}

                        <br>

                        Cabinet ID : {{u.cabinetId}}

                    </div>

                    <div *ngIf="u.role=='SECRETAIRE'">

                        {{u.cabinetNom}}

                    </div>

                    <div *ngIf="u.role=='CHEF_CABINET'">

                        {{u.cabinetNom}}

                    </div>

                </td>

                <td>

                    <button class="delete"
                    (click)="supprimer(u.id)">

                        🗑

                    </button>

                </td>

            </tr>

        </tbody>

    </table>

    <p>Nombre d'utilisateurs : {{ utilisateurs.length }}</p>



</div>