<div class="subscription-page">

    <div class="subscription-header">

        <h2>Suivi des abonnements</h2>

        <p>
            Plans tarifaires SaaS actifs pour les cabinets dentaires
        </p>

    </div>

    <div class="container-fluid">

        <div class="row g-4">

            @for (plan of plans; track plan.idPlan) {

            <div class="col-lg-4 col-md-6">

                <div class="plan-card" [class.popular]="plan.nom === 'PRO'">

                    @if (plan.nom === 'PRO') {
                    <span class="badge-populaire">
                        POPULAIRE
                    </span>
                    }


                    <h5 class="plan-name">
                        {{ plan.nom }}
                    </h5>


                    <div class="price">

                        <span class="price-value">
                            {{ plan.prixMensuel }} FCFA
                        </span>

                        <span class="price-month">
                            / mois
                        </span>

                    </div>


                    <p class="plan-desc">
                        {{ plan.description }}
                    </p>


                    <hr>


                    <ul class="list-unstyled">

                        <li>
                            ✔ Jusqu'à {{ plan.maxDentistes }} dentistes
                        </li>

                        <li>
                            ✔ Jusqu'à {{ plan.maxSecretaires }} secrétaires
                        </li>

                        <li>
                            ✔ Gestion de {{ plan.maxCabinet }} cabinet(s)
                        </li>

                        <li>
                            ✔ Agenda interactif
                        </li>

                        <li>
                            ✔ Dossiers médicaux
                        </li>

                    </ul>


                    <button class="choose-btn" [class.premium-btn]="plan.nom === 'PRO'">

                        Choisir ce plan

                    </button>


                </div>

            </div>

            }

        </div>

    </div>

</div>