<mat-toolbar class="header shadow-sm px-5">

    <div class="container-fluid d-flex align-items-center justify-content-between">

        <!-- Logo -->
        <a routerLink="/" class="logo d-flex align-items-center text-decoration-none">

            <img
                src="/assets/images/logo.png"
                alt="Logo">

            <div class="ms-2">

                <h4 class="mb-0 fw-bold">
                    Tooth Office
                </h4>

                <small class="text-secondary">
                    SYSTÈME DENTAIRE
                </small>

            </div>

        </a>

        <!-- Bouton -->

        <button
            mat-stroked-button
            color="primary">

            Connexion

        </button>

    </div>

</mat-toolbar>