<div class="table-container">
    <h2>Tarifs de nos prestations dentaires</h2>

    <!-- En-tête -->
    <div class="table-header">
        <span>SOIN & PRESTATION</span>
        <span>DUREE ESTIME</span>
        <span>TARIF CLINIQUE</span>
    </div>

    <!-- Lignes de données -->
    <div class="table-row">
        <span >Consultation dentaire standard</span>
        <span >30 minutes</span>
        <span class=" price">10 000 F CFA</span>
    </div>

    <div class="table-row">
        <span >Blanchissement Dentaire Professionnel</span>
        <span >45 minutes</span>
        <span class="price">30 000 F CFA</span>
    </div>

    <div class="table-row">
        <span >Detartrage & Polissage</span>
        <span >60 minutes</span>
        <span class="price">40 000 F CFA</span>
    </div>

    <div class="table-row">
        <span >Pose de Couronne Céramique</span>
        <span >90 minutes</span>
        <span class="price">25 000 F CFA</span>
    </div>
</div>