.container {
    display: flex;
    width: 1320px;
    justify-content: space-between;
    
}

.container-card{
    display: flex;
    width: 1320px;
    justify-content: space-between;
    margin-bottom: 50%;
    padding-left: 7%;
    


}
