<div class="stats-grid">

        <!-- Carte 1 -->
        <div class="stat-card">

            <div class="stat-content">

                <div>

                    <span class="stat-label">
                        CABINETS DENTAIRES
                    </span>

                    <h2>{{ statistiques?.cabinets }}</h2>

                </div>

                <div class="stat-icon green">

                    <i class="bi bi-building"></i>

                </div>

            </div>

        </div>

        <!-- Carte 2 -->

        <div class="stat-card">

            <div class="stat-content">

                <div>

                    <span class="stat-label">
                        PRATICIENS DENTISTES
                    </span>

                    <h2>{{ statistiques?.dentistes }}</h2>

                </div>

                <div class="stat-icon blue">

                    <i class="bi bi-person-badge"></i>

                </div>

            </div>

        </div>

        <!-- Carte 3 -->

        <div class="stat-card">

            <div class="stat-content">

                <div>

                    <span class="stat-label">
                        PATIENTS INSCRITS
                    </span>

                    <h2>{{ statistiques?.patients }}</h2>

                </div>

                <div class="stat-icon light-green">

                    <i class="bi bi-people"></i>

                </div>

            </div>

        </div>

        <!-- Carte 4 -->

        <div class="stat-card">

            <div class="stat-content">

                <div>

                    <span class="stat-label">
                        Utilisateurs actifs
                    </span>

                    <h2 class="money">
                        {{ statistiques?.users }}
                    </h2>

                </div>

                <div class="stat-icon money-icon">

                    <i class="bi bi-currency-dollar"></i>

                </div>

            </div>

        </div>

    </div>


    