<section class="forfait">
    <div class="basic">
    <p class="c">BASIC</p>
    <p class="D"><span>49 $</span> / mois</p>
    <p class="s">Idéal pour les praticiens individuels qui lancent leur activité.</p>
    <hr>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <button></button>
    </div>
    <div class="premuim">
    <p class="c">PREMIUM</p>
    <p class="D"><span>99 $</span> / mois</p>
    <p class="s">La formule parfaite pour les cabinets dentaires en croissance.</p>
    <hr>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>
    <div class="pro">
    <p class="c">PRO</p>
    <p class="D"><span>199 $</span> / mois</p>
    <p class="s">Conçu pour les grandes cliniques dentaires avec plusieurs équipes.</p>
    <hr>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>
</section>