<section class="forfait">
    <div class="basic parra">
    <p class="c">BASIC</p>
    <p class="D"><span>49 $</span> / mois</p>
    <p class="s">Idéal pour les praticiens individuels qui lancent leur activité.</p>
    <hr>
    <ul class="ulp">
        <li>Praticiens Max : <strong>1</strong></li>
        <li>Patients Max : <strong>200</strong></li>
        <li>Agenda interactif</li>
        <li>Dossiers médicaux de base</li>
        <li>1 Secrétaire autorisée</li>
        <li>SMS de rappel</li>
        <li class="lid">gggggggggggg</li>
    </ul>
    <button class="soucrib">Formule active</button>
    </div>
    <div class="premuim parra">
    <p class="c">PREMIUM</p>
    <p class="D"><span>99 $</span> / mois</p>
    <p class="s">La formule parfaite pour les cabinets dentaires en croissance.</p>
    <hr>
    <ul>
        <li>Praticiens Max : <strong>3</strong></li>
        <li>Patients Max : <strong>1000</strong></li>
        <li>Multi-agendas connectés</li>
        <li>Avis patients illimités</li>
        <li>Historique médical avancé</li>
        <li>Export de données PDF</li>
        <li>Support prioritaire par email</li>
    </ul>
    <button>Souscrire à ce plan</button>
    </div>
    <div class="pro parra">
    <p class="c">PRO</p>
    <p class="D"><span>199 $</span> / mois</p>
    <p class="s">Conçu pour les grandes cliniques dentaires avec plusieurs équipes.</p>
    <hr>
    <ul>
        <li>Praticiens Max : <strong>8</strong></li>
        <li>Patients Max : <strong>5000</strong></li>
        <li>Statistiques & KPIs détaillés</li>
        <li>Gestion financière</li>
        <li>Intégration d’imagerie 3D</li>
        <li>Assistance téléphonique 24/7</li>
        <li>Formation d’équipe offerte</li>
    </ul>
    <button>Souscrire à ce plan</button>
    </div>
</section>