<section class="equipe">
    <div class="side1">
    <h1>Recruter un collaborateur</h1>
    <hr>
    <form action="">
        <div class="Eslt">
            <div>
            <label for="">Rôle de Recrutement</label>
            </div>
            <div >
            <select class="inp" name="" id="">
                <option value="">Dentiste Praticien</option>
                <option value="">Secrétariat Clinique</option>
            </select>
            </div>
        </div>

        <div class="supo1">
            <div class="txa">
                <div>
                <label for="">Prenom</label>
                </div>
                <div>
                <input class="pn" type="text" name="">
                </div>
            </div>
            <div class="txa">
                <div>
                <label  for="">Nom</label>
                </div>
                <div>
                <input class="pn" type="text" name="">
                </div>
            </div>
        </div>

        <div class="supo2">
            <div class="txa">
                <div>
                <label for="">Adresse Email</label>
                </div>
                <div>
                <input class="inp" type="text" name="">
                </div>
            </div>
                <div class="txa">
                <div>
                <label for="">Téléphone de Contact</label>
                </div>
                <div>
                <input class="inp" type="text" name="">
                </div>
            </div>
        </div>

        <button class="inp g">Ajouter à l'équipe</button>

    </form>
    </div>
    <div class="sideG">
        <div class="side2">
            <h1>Membres du personnel soignant (Dentistes)</h1>
            <hr>
            <div class="collec">
            <div class="card1">
            <div class="spn"><span>JS</span></div>
            <div class="dp">
                <p>Dr. Jean-Pierre Sourire</p>
                <p>Orthodontie</p>
                <p class="dpO">dentiste@toothoffice.cd • +243 822 987 654</p>
            </div>
            <div class="sup">
                <img class="ig" src="/mingcute_delete-line.svg" width="25px" alt=""/>
            </div>
        </div>

        <div class="card1">
            <div class="spn"><span>NM</span></div>
            <div class="dp">
                <p>Dr. Naomi Michaela</p>
                <p>Pédodontie (Dentisterie Pédiatrique)</p>
                <p class="dpO">dr.michaela@toothoffice.cd • +243 811 112 222</p>
            </div>
            <div class="sup">
                <img class="ig" src="/mingcute_delete-line.svg" width="25px" alt=""/>
            </div>
        </div>
        </div>
        </div>
        <div class="side2">
            <h1>Personnel d'accueil (Secrétaires)</h1>
            <hr>
            <div class="collec">
            <div class="card1">
            <div class="spnD"><span>CM</span></div>
            <div class="dp">
                <p>Clarisse Mado</p>
                <p>Secrétaire Médicale</p>
                <p class="dpO">secretaire@toothoffice.cd • +243 899 112 233</p>
            </div>
            <div class="sup">
                <img class="ig" src="/mingcute_delete-line.svg" width="25px" alt=""/>
            </div>
        </div>
        </div>
        </div>
    </div>
</section>

