<div class="tarif">
<div class="side1">
    <div>
        <h1>Fixez le tarif d’un soin</h1>
        <hr>
        <p>Associez un style issu de la nomenclature nationale a votre grille tarifaire clinique</p>
    </div>
        <div>
            <form action="">
                <div class="txa">
                <div>
                <label for="">Prestation Dentaire</label>
                </div>
                <div>
                <select class="slt" name="" id="">
                    <option class="sltop" value=""> -- Choisir une prestation --</option>
                    <option value="">Consultation</option>
                    <option value="">Détartrage</option>
                    <option value="">Blanchiment</option>
                </select>
                </div>
                </div>
                
                <div class="txx">
                <div class="txb">
                <div>
                <label for="">Tarif Clinique(fcfa)</label>
                </div>
                <div>
                <input class="sltX" type="text" placeholder="0">
                </div>
                </div>

                <div class="txc">
                <div>
                <label for="">Durée(minutes)</label>
                </div>
                <div>
                <input class="sltX"  type="text" placeholder="30">
                </div>
                </div>
                </div>
                <button class="slt sltbt">Ajouter a la grille de tarifs</button>
            </form>
        </div>
</div>
<div class="side2">
        <div>
            <h1>Grille des tarifs de soins en vigueur</h1>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>SOIN DENTAIRE</th>
                        <th>Durée(minutes)</th>
                        <th>Tarif Actuel</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                        <td>Consultation dentaire standar</td>
                        <td class="mm">30 min</td>
                        <td class="ps">5000 Fcfa</td>
                    </tr>
                    <tr>
                        <td>Détartage & polissage</td>
                        <td class="mm">45 min</td>
                        <td class="ps">10000 Fcfa</td>
                    </tr>
                    <tr>
                        <td>Blanchissement dentaire professionnel</td>
                        <td class="mm">60 min</td>
                        <td class="ps">9000 Fcfa</td>
                    </tr>
                    <tr>
                        <td>Pose de couronne céramique</td>
                        <td class="mm">90 min</td>
                        <td class="ps">10000 Fcfa</td>
                    </tr>
                    <tr>
                        <td>Extraction de dent de sagesse</td>
                        <td class="mm">30 min</td>
                        <td class="ps">7000 Fcfa</td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>